*.pyc
.vscode
.cache
*/__pycache__/
output


submodules/icomma-diff-gaussian-rasterization/icomma_diff_gaussian_rasterization.egg-info/
submodules/icomma-diff-gaussian-rasterization/build/
submodules/simple-knn/simple_knn.egg-info/
submodules/simple-knn/build/

LoFTR/src/loftr/*/__pycache__/*.pyc
LoFTR/src/loftr/__pycache__
LoFTR/src/loftr/utils/__pycache__
LoFTR/ckpt*.ckpt

LightGlue/*.pth
LightGlue/lightglue/__pycache__
