*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
submodules/icomma-diff-gaussian-rasterization/icomma_diff_gaussian_rasterization.egg-info/
submodules/simple-knn/simple_knn.egg-info/
LoFTR/src/loftr/*/__pycache__/*.pyc
LoFTR/src/loftr/__pycache__
LoFTR/src/loftr/utils/__pycache__
LoFTR/ckpt*.ckpt
tensorboard_3d
screenshots
